.ui.vertical.tabular.menu{
  background-color: transparent;
  border: 0;
}


.ui.vertical.tabular.menu .active.item{
  background-color: transparent;
  color: black;
}

.ui.tabular.menu .item{
  color: black;
}

.ui.menu{
  margin-bottom: 45px;
  font-family: "Amiri", serif;
}

i.icon{
  font-size: 40px;
}
